header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(166, 255, 0);
    display: block;
    color: white;
    text-align: center;
  }

  nav{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: large;
    padding-left: 40px;
    background-color: rgb(114, 114, 114)
  }

  section {
    max-width: 3000px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
  }

  .left-column {
    background-color: #ff0000;
  }

  .center-column {
    background-color: rgb(238, 255, 0);
  }

  .right-column {
    background-color: rgb(94, 95, 95);
  }

  footer {
    padding: 1px;
    text-align: center;
    border-style: groove;
  }